body {
  margin: 0;
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  box-sizing: border-box;
}
.section-spacing {
  margin-top: 2rem;
  padding: 1rem 0;
}

.carousel-thumbnails {
  /* --slide-aspect-ratio: 16/9; */
  padding: 0;
  margin-top: 1rem;
  background-color: #e5e4e427;
  padding: 0;
  padding-bottom: 1rem;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 4px;
}

.thumbnails__scroller {
  display: flex;
  gap: var(--sl-spacing-small);
  overflow-x: auto;
  scrollbar-width: none;
  scroll-behavior: smooth;
  scroll-padding: var(--sl-spacing-small);
}
.thumbnails__scroller img {
  height: 40px;
  object-fit: contain;
}

.thumbnails__scroller::-webkit-scrollbar {
  display: none;
}

.thumbnails__image {
  width: 64px;
  height: 64px;
  object-fit: cover;
  opacity: 0.3;
  will-change: opacity;
  transition: 250ms opacity;

  cursor: pointer;
}

.thumbnails__image.active {
  opacity: 1;
}

/* youtube videos section */

#my-youtube-emmbed {
  margin-top: 1rem;
  /* background-color: #e5e4e427; */
  padding: 0rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* mobile-drawer */
#mobile-drawer {
  top: 40px;
}
